PRD.md
StyleGuide.md
Tasks.md
.cursorrules
.gemini_prompts.md
TODO.md
struktur_project.txt

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride
.Trash-*
*~

.vscode/
*.code-workspace
.idea/

.env
.env.local
.env.*.local
*.pem

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

node_modules/

suryakeren.html